<div class='well' id="newArticlePreview">
  <span id="previewTitle">
    <h2>
      {{model.name}}
    </h2>
  </span>
  <span id="previewContent">
    {{model.body}}
  </span>
</div>

<div class="well">
  {{input value=model.name placeholder="Title"}}
  {{view "select" content=categories optionLabelPath='content' selection=model.category}}

  <br>

  {{textarea value=model.body cols="80" rows="12"}}<br />

    {{#link-to "articles.view" model class="btn btn-default btn-raised btn-submit-edit"}} View  {{/link-to}}

</div>
